# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env

# Datos de entrada
data/*.xlsx
data/*.csv
data/*.xls

# Archivos de salida
output/*
!output/.gitkeep

# Archivos temporales
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/